@model IEnumerable<BasicCRUD.Models.Appointment>

@{
    ViewData["Title"] = "Inicio - Citas";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Crear Cita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Paciente
            </th>
            <th>
                Doctor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName) @Html.DisplayFor(modelItem => item.Patient.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FirstName) @Html.DisplayFor(modelItem => item.Doctor.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
