@model BasicCRUD.Models.Doctor

@{
    ViewData["Title"] = "Detalles Doctor";
}

<h1>Detalles</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            R.U.T
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RUT)
        </dd>
        <dt class = "col-sm-2">
            Nombres
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Apellidos
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Especialidad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialty)
        </dd>
        <dt class = "col-sm-2">
            Creado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            Actualizado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DoctorID">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
